.crypto_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 30px;
}

.crypto_header_title {
  font-size: 33px;
  font-weight: 700;
}

.crypto_header_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 10px 24px;
  background-color: #6366F1;
  border-radius: 12px;
  transition: background-color,
    transform 0.4s ease-in-out;
}

.crypto_header_btn:hover {
  background-color: #1bc5e3;
  transform: scale(0.9);
}

/* cards */

.crypto_cards {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 26px;
  margin-top: 32px;
}

.crypto_btc,
.crypto_eth {
  width: 375px;
  height: 296px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.crypto_btc_title {
  font-size: 20px;
  font-weight: 700;
  padding: 24px 30px;
  font-family: var(--primary-font-family);
}

.crypto_btc_title_span {
  color: #6C737F;
}

.crypto_btc_price {
  font-weight: 400;
  color: #6C737F;
  padding-top: 10px;
  padding-left: 28px;
  font-family: var(--secondary-font-family);
}

.crypto_btc_image {
  padding: 16px;
}

.crypto_btc_paragraph1 {
  padding-left: 72px;
  font-weight: 500;
  margin-top: -62px;
  font-family: var(--secondary-font-family);
}

.crypto_btc_paragraph2 {
  display: flex;
  align-items: center;
  padding-left: 72px;
  gap: 4px;
  color: #10B981;
}

.crypto_eth_paragraph2 {
  color: #F04438;
  display: flex;
  align-items: center;
  padding-left: 72px;
  gap: 4px;
}

.crypto_card_image {
  width: 545px;
  height: auto;
  object-fit: cover;
}

.crypto_current {
  width: 890px;
  height: 440px;
  margin-top: 32px;
  margin-left: 32px;
  padding-left: 24px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.crypto_current_title {
  font-size: 20px;
  font-weight: 700;
  padding-top: 32px;
  font-family: var(--primary-font-family);
}

.crypto_current_paragraph {
  font-weight: 400;
  font-family: var(--secondary-font-family);
  color: #6C737F;
}

.crypto_current_chart {
  margin-top: 82px;
  margin-left: -570px;
}

.crypto_current_b {
  font-size: 34px;
  font-weight: 700;
  font-family: var(--primary-font-family);
}

.crypto_current_title2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -270px;
  margin-left: 205px;
}

.crypto_current_prices {
  color: #6C737F;
  display: flex;
  flex-direction: column;
  margin-left: 760px;
  margin-top: 10px;
  gap: 6px;
}

.crypto_current_east {
  margin-top: 90px;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 4px;
  cursor: pointer;
  font-family: var(--secondary-font-family);
}

.crypto_current_north {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 4px;
  cursor: pointer;
  margin-top: -24px;
  margin-left: 120px;
  font-family: var(--secondary-font-family);
}