.auth_forgot_password {
  display: flex;
}

.auth_forgot_left {
  width: 912px;
  height: 100vh;
  background-color: #1C2536;
}

.auth_forgot_left_text {
  padding-left: 61px;
  padding-top: 330px;
  color: var(--text-color)
}

.auth_forgot_left_title {
  font-family: var(--primary-font-family);
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 0%;
}

.auth_forgot_left_paragraph {
  color: #6C737F;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 24px;
  padding-top: 10px;
  font-family: var(--secondary-font-family);
}

.auth_forgot_left_bold {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  font-family: var(--secondary-font-family);
  position: absolute;
  top: 460px;
}

.auth_forgot_left_icons {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 72px;
  margin-left: 64px;
}

/* auth_forgot_right  started*/

.auth_forgot_right {
  margin-top: 200px;
  margin-left: 64px;
}

.auth_forgot_right_logo {
  display: flex;
}

.auth_forgot_right_logo_p {
  font-size: 14px;
  font-weight: 800;
  font-family: var(--primary-font-family);
  letter-spacing: 0.3px;
}

#login_in_pro {
  font-size: 15px;
  color: #6366F1;
}

.auth_forgot_right_dash {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 35px;
}

.auth_forgot_right_dash_icon {
  font-size: 24px;
}

.auth_forgot_right_dash_p {
  font-family: var(--secondary-font-family);
  font-weight: 500;
}

.auth_forgot_right_heading {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: 28px;
  font-family: var(--primary-font-family);
  padding-top: 42px;
}

.auth_forgot_right_input {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.auth_forgot_right_input_1 {
  width: 472px;
  height: 56px;
  border-radius: 8px;
  outline: none;
  border: 2px solid gray;
  background: none;
  padding-left: 10px;
  margin-top: 24px;
  font-size: 16px;
}

.auth_forgot_right_input_btn {
  padding: 12px 190px;
  border-radius: 12px;
  background-color: #6366F1;
  border: none;
  margin-top: 45px;
  font-family: var(--secondary-font-family);
  color: var(--text-color);
  transition: background-color, transform 0.3s;
}

.auth_forgot_right_input_btn:hover {
  background-color: #1bc5e3;
  transform: scale(0.9);
}

.auth_forgot_right_setting {
  position: absolute;
  top: 630px;
  left: 1432px;
  cursor: pointer;
}